<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>log-in</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="d-flex justify-content-center m-3">Sign Up</h3>
                    <!--<div class="d-flex justify-content-end social_icon">-->
                    <!--<span><i class="fab fa-facebook-square"></i></span>-->
                    <!--<span><i class="fab fa-google-plus-square"></i></span>-->
                    <!--<span><i class="fab fa-twitter-square"></i></span>-->
                    <!--</div>-->
                </div>
                <div class="card-body">
                    <form action="/auth/signup" method="post" enctype="multipart/form-data">
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" name="username" class="form-control" placeholder="E-mail">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="fullname" class="form-control" placeholder="FullName">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                            </div>
                            <input type="text" name="address" class="form-control" placeholder="Address">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input type="date" name="birthday" class="form-control" placeholder="Date of Birth">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="phone" name="phone" class="form-control" placeholder="phone">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-images"></i></span>
                            </div>
                            <input type="file" name="avatar" class="form-control" placeholder="avatar url">

                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="input-group form-group m-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="confirm password">
                        </div>
                        <!--<div class="row align-items-center remember">-->
                        <!--<input type="checkbox">Remember Me-->
                        <!--</div>-->
                        <div class="d-flex justify-content-center m-3 form-group">
                            <input type="submit" value="register" class="btn float-right login_btn">
                        </div>
                    </form>


                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Do have an account? <a href="/">login</a>
                        </div>
                        <!--<div class="d-flex justify-content-center">-->
                        <!--<a href="#">Forgot your password?</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <!--<div class="card-footer">-->
                <!--<div class="d-flex justify-content-center links">-->
                <!--Don't have an account?<a href="#">Sign Up</a>-->
                <!--</div>-->
                <!--[><div class="d-flex justify-content-center"><]-->
                <!--[><a href="#">Forgot your password?</a><]-->
                <!--[></div><]-->
                <!--</div>-->
            </div>
        </div>
    </div>
</body>

</html>
